#admin_body{
    width: 100%;
    height: 745px;
}
#admin_body_left{
    width: 13%;
    float: left;
    height: 100%;
    background-color: #ECF0F1;
}
#admin_body_right{
    width: 87%;
    float: left;
    height: 100%;
    /* background-color: yellow; */
}


#left_box{
    width: 100%;
    height: 65px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
#left_box:hover{
    background-color: rgba(42, 41, 45, 0.037);
    border-left: 3px solid rgba(44, 44, 46, 0.551);
}
#left_box a{
    display: flex;
    align-items: center;
    color: #34495E;
    margin-left: 5px;
}
#admin_qty{
    color: red;
}
#admin_font{
    margin: 0 5px;
}

#left_box #left_box_logo{
    height: 100%;
    width: 90px;
    margin: 0 40px;
}


#left_box_logout{
    width: 100%;
    height: 70px;
    margin-top: 240px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Admin Home */

/* link inbox color */
#a_inbox{
    color: red;
}
.a_margin{
    margin-right: 8px;
}

@media only screen and (max-width: 600px ) {
    #admin_body_left{
        width: 15%;
    }
    #admin_body_left button{
        width: 100%;
        font-size: 10px;
    }
    #admin_body_right{
        width: 85%;
    }
}